body{
    background-color:beige;
    margin-left: 2%;
    margin-right: 2%;
}

.horizontal-line{
    color: teal;
}



/* header */

.top-img{
    border-radius: 35%;
    width: 300px;
    height: 300px;
    margin: 50px auto 20px auto;
    display: block;
}

.top-img:hover{
    transform: scaleX(-1);
}


.big-title{
    color: teal;
}

.italics{
    font-style: italic;
}

.navbar-area{
    background-color: #292b2c;
}

/* main */

.with-margin{
    margin-left: 3%;
}

.centered{
    text-align: center;
}

.carousel-item{
    height: 300px;
    padding-top: 4%;
}

.carousel-text{
    padding-left: 30px;
    padding-right: 30px;
}

/* footer */

.email{
    float: left;
}

.github{
    float: right;
    margin-right: 20px;
    background-color: gray;
    width: 50px;
    height: 50px;
}

.linkedin{
    float: right;
    margin-right: 20px;
    background-color: #2977c9;
    width: 50px;
    height: 50px;
}

.instagram{
    float: right;
    margin-right: 20px;
    background-color:  #f09433;
    width: 50px;
    height: 50px;
}

.links:link{
    color: black;
    text-decoration: none;
}

.links:visited {
    color: black;
    text-decoration: none;
}
  
.links:hover {
    color: hotpink;
    text-decoration: none;
}
  
.links:active {
    color: blue;
    text-decoration: none;
}
