body{
    background-color:beige;
    margin-left: 2%;
    margin-right: 2%;
}

img{
    border-radius: 35%;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img:hover{
    transform: scaleX(-1);
}

.moveable{
    margin-left: 3%;
}

hr{
    color: teal;
}

h1{
    color: teal;
}

#email{
    float: left;
}

#github{
    float: right;
    margin-right: 20px;
    background-color: gray;
    width: 50px;
    height: 50px;
}

#linkedin{
    float: right;
    margin-right: 20px;
    background-color: #2977c9;
    width: 50px;
    height: 50px;
}

#instagram{
    float: right;
    margin-right: 20px;
    background-color:  #f09433;
    width: 50px;
    height: 50px;
}

a:link{
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }
